* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe5e5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 600px;
    padding: 80px 20px;
    background: rgba(255, 255, 255, 0.2); /* Fondo semitransparente */
    backdrop-filter: blur(10px); /* Aplica el efecto blur */
    -webkit-backdrop-filter: blur(10px); /* Para compatibilidad con Safari */
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container .tenor-gif-embed {
    display: flex;
    max-width: 200px;
}

.container .btn {
    display: flex;
    gap: 25px;
}

.btn a {
    text-decoration: none;
    color: #111;
    background: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0, 0,0.3);

}

/* Fondo para pantallas grandes (desktop) */
@media (min-width: 1024px) {
    body {
        background-image: url(https://lh3.googleusercontent.com/pw/AP1GczMjlgYwmpdvvkkWZdSBjy9cJxoS1FzHyXhfYf8LwJjDSuhE19hssMQFROC7HDHTDVFxUYuPZ1WxDyV0VcdfGUQTrL_f2pHBLf4pvhlsfFSV3kniAxvAZ-2RRMiE8LcQ9sWCOiS0T2A8TbJRkncyh8WtehrINXEsxQRfZZQuCBCaTH91Kr2x4Idu33EgXHXDkB-6KHXzDLbkl2zBq_qyOVzOkHQshJsHdzDAg9Qk4XqMest_DP5llYtvkrAagNFqiNfkg7AY5_U1y4YzKc3-9yG29xoRseboEog4U8vc9GXmD9xtsXs88d7f36f2I1gBaLHYyoVVWaDsl50VkkappsYip7T0fR_fBKauOLRKLaE0D6wCSffOkrND-8bqy7OcBNYfF2YTqpnPImndBcIB3AqQeMShbiUSvYkfQQgv-R3qrvu-D5mqf6_bjKMtMss5QFzaeKy0XSpdITxAUR5WOnJiS6tS5V6QlvSPY1F-LV5dnfO_cTGETV3-VLRR9eNVywqmSdoxaABq1MnLSWB2XbW1RgovHfVKvgw4Cc1z4WuMNkyAbO54fU09r30LZqyyPQkxDxZZEKe4bj9stOPHXiMz-I6cjnUYw9WZFaPhmd2A_UvLonZneQQSh360RFhDcpXHEMWW6F9OSYMnBSyAWcDjydcO26M8zMCWBD4jTNovSm26akVmpTikmm0uUAKwZEiSW0Av-IwCyeq8iw3wDJIfSaExrIioavorUvs_9Q-SAd6Z5f88aUgNyUEeMFNVNByi8V4IaGn5o55JoV7JS3F4ii2mzqbsxqFSTKqFkgbbmt1C2ipqMtChX4IrFs42CUwiTtNoIm0a9y_IQq7XRFDuv47Ek6j2OM_M5U1n_cvDG6nBLdHri6qXzIwSs_0SNiM3A1rEkEEVWwMm7RrwHzI89KxGcOdjMmJhQExkbp4SuTte6u7waHz89Vb51JD93ekVPq_ziWl9fDAly-W4gUddzzvuyIlOGSfnQzryuEapcMDF8WLXzOMRW0NioDfqGhouN3l0CUwjmn_5hxJir9is132ez4msSgc4N9WJFBpF6FnClKVfqWjIW6JpYavjL9hBEEYdqh6HY5JKIN57bFForbRsSM7uFL4ePqPzgxl0qYfZKhgAiwOQzpJtPxulyuswVHpVK7Iz8Xn5or5pBJef8BrQ0lNJnNv5cUY0og3m1H7JzSxovQ8Kv_Vb0EtanqtU8Zgu_dQ6Q3zIs3PisA=w3064-h2298-s-no?authuser=2); /* Reemplaza con tu imagen */
    }
}

/* Fondo para pantallas pequeñas (móviles) */
@media (max-width: 1023px) {
    body {
        background-image: url(https://lh3.googleusercontent.com/pw/AP1GczNmSWv6tzHzmRP4VQajIHgPvowRsEYB4EtN-gXLssltnrf1uNaMMs6gmmpCBQ6QTaPVHTeVuI-OWZLbh73CDlYqaa1X7EJBR4XeV__gk4lVJlkK2mmfXuc5Jm-1TzeAvaIZRNUxfkB0TpMyOSkR5hLz5mMlX_6CKJIEhd_YBGzKplSkQbzctdT448hlXQuK6Ss9Kdo0MghJOu4XKzbCTd5ZYWFZIgSn-EAfnBu5PZvZEgT1H0IzxPFT0Sa7Q_uQXX95sOtiQhIBEuRw5U26XYYJTji8hmCSLHDnCTI51ctVpz2VCW6IKRxd0y8DeXTKPvL5zUR3xw57fISgKjYQNnr6h7mLLC_gf9YWiYHsoMf-W3qEfzm4T0uk4-gxcFfk7I7Z2uJWtJmKeqqybKftMtHBVL8zyq87UPDbm1X00NWM_4mqTZzZEcyWz-5hfFfvziBh5eLjzxTPhWw35JkYRwWmhO8IkuzmQbFhlprELIT7Y9-7fIw2Lv6REVc0CTCk-EY978EKUOuN7MrLlGNFhvNhOBBaN5N9vVl6xE1215gnqOTcmE0vGfodl4u5GrlNFd2ir1nZqNkKVIYx7ZJuOcCpAjkA8GQD-8WM_RNA501XIbfz3EBC2-D7FOcFEwuZYSjnG8inWFy0wYi1VjUZHeZf7UpGb2pCjnOzEpTyl4nDtV4BqM1_87tVwoVzA9Wdk2wqF4i9LvG8zzp5sLykptHD7l0ALUycSrV5y2NzTbintSsK_iZY8dy71zSuDLPsuSMe9b0-pWulDuEc1OVIokMV5UdRS43vzWWOOhN1GQV33DP0ZT1_Vagsp2CIezbkb0pDnHMH71O7aKlnk6y0quwVagEhhsuU1lYvSdgkCWMYpPLTFKUhdNDroYVcq90Gb21_PP1xxy3x0fmUsMw-AydP3q-x-zN5RQ5Pj1Oajx5hID_Nz0cn3sdGHeLAjsodU4qYkMSzLTr-3Sam8wzr9Tja76TctWdPDkwxvMYm9sfge5WYXWt67coBddlEJSvo12z26SCYk6W4ndmdlGiR1d6TErpexM6evzNSp5cn27pxj0uhpVMjnr5QEWif0skEO-BnKO78hKrhqGnUfjEaOfl-A5hEm5ntVx93glQQPITOkCSK_Kc_I_LUemaNdIhtCyPBjl0T2zjL5NHP3FoomYXJceqiY-pJrwsnFR_3B68vAiM0bBhebBDN6KMxjrl4ClNOVe2iDxfFvGqW12Q3aQ=w1572-h2298-s-no?authuser=2); /* Reemplaza con tu imagen */
    }
    .container {
        width: 350px;
    }
}