* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe5e5;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    width: 100vw;
}

.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 20px;
    max-width: 600px;
    padding: 80px 20px;
    background: rgba(255, 255, 255, 0.2); /* Fondo semitransparente */
    backdrop-filter: blur(10px); /* Aplica el efecto blur */
    -webkit-backdrop-filter: blur(10px); /* Para compatibilidad con Safari */
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container .tenor-gif-embed {
    display: flex;
    max-width: 200px;
}

.container .btn {
    display: flex;
    gap: 25px;
}

.btn a {
    text-decoration: none;
    color: #111;
    background: #fff;
    padding: 10px 25px;
    border-radius: 8px;
    box-shadow: 0.5rem 1rem 3rem hsl(0, 0, 0,0.3);

}

/* Fondo para pantallas grandes (desktop) */
@media (min-width: 1024px) {
    body {
        background-image: url('/img/machu-picchu.jpeg'); /* Reemplaza con tu imagen */
    }
}

/* Fondo para pantallas pequeñas (móviles) */
@media (max-width: 1023px) {
    body {
        background-image: url('/love.jpeg'); /* Reemplaza con tu imagen */
    }
    .container {
        width: 350px;
    }
}